# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# =====================
# IDEs
# =====================
.vscode/
.idea/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db